Cython
h5py
numpy
Pillow
scipy
torch==0.4.1
torchvision
gpustat
easydict
msgpack-numpy
msgpack
colorlog
cvbase
youtube-dl
scrapy
keras
trash-cli
scikit-image
opencv-python
lmdb
tensorboardX
tabulate
tensorflow-gpu
tensorboard
cffi
flake8
yapf
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
mkdocs
mkdocs-material
pylint
